*{
    margin: 0px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
.header{
    background: rgb(24, 100, 176);
    color: white;
    display:flex;
    justify-content:space-between;
    padding: 15px;
}
.header li{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}
.footer{
    background: rgb(120, 179, 239);
    text-align: center;
    padding: 5px;
    height: 50px;
}

.header-auth{
    display: flex;
    padding: 0px 5px;
    gap: 30px;
}
.main-container{
    background-color: rgba(240, 248, 255, 0.507);
    padding: 10px;
}