<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Edit form</h2>
    <form action="/users/<%= user._id %>/save" method="post">
        <p><input type="text" name="name" value="<%= user.name %>"></p>
        <p><input type="text" name="email" value="<%= user.email %>"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <label for="role">Role: </label>
        <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>